# === DATABASE (Supabase) ===
# Pooled connection (for Prisma - use port 6543)
DATABASE_URL="postgresql://postgres.seneyckqwoidcygmrhbb:WDw5MJq0VLpWS1Wg@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection (for migrations - use port 5432)
DIRECT_URL="postgresql://postgres.seneyckqwoidcygmrhbb:WDw5MJq0VLpWS1Wg@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

# === AUTH ===
NEXTAUTH_URL="https://alolalogistics.com"
NEXTAUTH_SECRET="REPLACE_WITH_RANDOM_32_CHARS_MINIMUM"

# === PUBLIC ===
NEXT_PUBLIC_BASE_URL="https://alolalogistics.com"
